html
  head
    title Bomodoa Coding Exercise
  body
    p The Flask API has been running for #{process_elapsed_seconds} seconds since the start of this process
    p The Flask API's status endpoint has been called #{process_endpoint_times_requested} times since the start of this process
    p The Flask API was first started at #{server_first_start}
    p The Flask API's status endpoint has been called #{server_endpoint_times_requested} times ever